---
import 'flowbite';
import Layout from '../layouts/Layout.astro';
import Foot from '../components/Foot.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Solstac - Contactanos"  />
  <div class="CarouselWrapper">
    <Contact/>
  </div>
  <Foot />

<style></style>