---
import 'flowbite';
import Layout from '../layouts/Layout.astro';
import Foot from '../components/Foot.astro';
import EnergSol from '../components/EnergSol.astro';
---
<Layout title="Solstac - Energía Solar" />
  <div class="CarouselWrapper">
    <EnergSol/>
  </div>
  <Foot />

<style></style>