---
import 'flowbite';
import Layout from '../layouts/Layout.astro';
import Foot from '../components/Foot.astro';
import About2 from '../components/About2.astro';
---
<Layout title="Solstac - Nosotros" />
  <div class="CarouselWrapper">
    <About2/>
  </div>
  <Foot />

<style></style>