---
import 'flowbite';
import Layout from '../layouts/Layout.astro';
import Foot from '../components/Foot.astro';
import Product from '../components/Product.astro';
import ProdSplit from '../components/ProdSplit.astro';

---

<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<Layout title="Solstac - Productos Termas" />
  <div class="CarouselWrapper">
      <div>
        <ProdSplit />
        <slot />
      </div>
  </div>
<Foot />

<style></style>