---
import 'flowbite';
import Layout from '../layouts/Layout.astro';
import Foot from '../components/Foot.astro';
import Product from '../components/Product.astro';

---


<Layout title="Solstac - Productos" />
  <div class="CarouselWrapper">
    <Product/>
      <div>
      </div>
  </div>
<Foot />

<style></style>