---
import { Image } from "astro:assets";
import tubos from "/src/images/Card/abt1.jpg";
import tubos1 from "/src/images/Card/abt2.jpg";
import tubos2 from "/src/images/Card/abt3.jpg";
---
<section>
    <h1 class="mb-4 mt-12 font-extrabold leading-none tracking-tight text-gray-900 text-center responsive-title">En <span class="text-orange-500 dark:text-orange-500 uppercase">SOLSTAC</span> nos dedicamos a impulsar <span class="text-orange-500 dark:text-orange-500 uppercase">el crecimiento y la sostenibilidad</span>
    </h1>
    <p class="text-base text-gray-700 text-center lg:text-lg pl-10 pr-10">Con Solstac, te ofrecemos soluciones de energía solar que van más allá de tus expectativas. Nuestra dedicación a la excelencia se refleja en cada uno de nuestros productos, desde los captadores solares hasta los tanques de almacenamiento, diseñados con la última tecnología para proporcionarte eficiencia y confiabilidad inigualables. No solo obtienes un producto, obtienes una solución integral para tus necesidades de energía renovable. Únete a nosotros en el camino hacia un futuro más limpio y brillante con Solstac.</p>
</section>


<section>
    <h3 class="mb-8 mt-8 text-5xl text-center font-extrabold dark:text-white uppercase text-orange-500">Nuestra Tecnología</h3>
    <div class="flex justify-center">
        <ul class="grid gap-6 md:grid-cols-3">
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:scale-105 ease-in-out duration-300">
                <Image src={tubos} alt="Tuvo pipe" class="rounded-t-lg" loading="lazy"  />
                <div class="p-5">
                    <a href="/Productos">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white hover:text-orange-500 text-center ">Tubo de Vacío Heat Pipe</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Fusionando tecnología de punta con materiales de alta pureza, estos tubos de vacío destacan por su eficiencia y durabilidad excepcionales.</p>
                    <div class="flex justify-center">
                        <a href="/Productos" class="w-full sm:w-auto inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-orange-500 hover:bg-orange-600 hover:text-white hover:scale-105 ease-in-out duration-300">
                            Ver más
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                    
                    
                </div>
            </div>

            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:scale-105 ease-in-out duration-300">
                <Image src={tubos1} alt="Tuvo pipe" class="rounded-t-lg" loading="lazy"  />
                <div class="p-5">
                    <a href="/Productos">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white hover:text-orange-500 text-center">Efecto Termosifon</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Con un diseño revolucionario que aprovecha la circulación natural del calor, basado en la diferencia de temperatura y densidades.</p>
                    <div class="flex justify-center">
                        <a href="/Productos" class="w-full sm:w-auto inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-orange-500 hover:bg-orange-600 hover:text-white hover:scale-105 ease-in-out duration-300">
                            Ver más
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                    
                </div>
            </div>

            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:scale-105 ease-in-out duration-300">
                <Image src={tubos2} alt="Tuvo pipe" class="rounded-t-lg" loading="lazy"  />
                <div class="p-5">
                    <a href="/Productos">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white hover:text-orange-500 text-center">Tanques Solstac</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Con características únicas, como la separación del agua de los captadores, múltiples opciones de intercambio térmico y controles inteligentes.</p>
                    <div class="flex justify-center">
                        <a href="/Productos" class="w-full sm:w-auto inline-flex items-center px-3 py-2 text-sm text-center text-white rounded-lg bg-orange-500 hover:bg-orange-600 hover:text-white hover:scale-105 ease-in-out duration-300">
                            Ver más
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                    
                </div>
            </div>
            <!-- Los otros productos con los mismos cambios -->
        </ul>
    </div>
</section>

<style>
    /* Aseguramos que el tamaño del texto se adapta a diferentes dispositivos */
    .responsive-title {
        font-size: 2rem; /* Tamaño base para móviles */
    }

    @media (min-width: 640px) { /* Para smartphones en modo horizontal y tablets pequeñas */
        .responsive-title {
            font-size: 3rem; /* Aumentamos el tamaño para dispositivos medianos */
        }
    }

    @media (min-width: 768px) { /* Para tablets */
        .responsive-title {
            font-size: 4rem; /* Más grande para tablets */
        }
    }

    @media (min-width: 1024px) { /* Para laptops y desktops */
        .responsive-title {
            font-size: 5rem; /* Tamaño más grande para pantallas grandes, similar al de 'Nuestra Tecnología' */
        }
    }
</style>