---
import "flowbite";
---
<section class="bg-cover bg-center bg-no-repeat bg-[url('/src/images/carousel/car6.jpg')] bg-gray-500 bg-blend-multiply w-full min-h-screen">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Innovando el Presente, Potenciando el Futuro</h1>
    <p class="mb-8 text-lg font-normal text-gray-100 lg:text-xl sm:px-16 lg:px-48">En Solstac, transformamos el paisaje energético del Perú con soluciones renovables que respetan y valoran nuestro entorno natural.</p>

  </div>
</section>
<div class="container mx-auto px-4 py-6">
    <h2 class="text-2xl text-orange-500 font-bold mb-3 text-center" style="margin-bottom: 8px; text-transform: uppercase">Contáctanos</h2>
    <form class="max-w-lg mx-auto bg-white shadow-2xl  rounded-lg p-8">
      <!-- Nombre y Apellidos -->
      <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos y Nombres</label>
        <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder="Ingrese su nombre" required>
      </div>
      <!-- Número de Celular -->
      <div class="mb-6">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número de Celular</label>
        <input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder="Ingrese su número de celular" pattern="[0-9]" required>
      </div>
      <!-- Correo Electrónico -->
      <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo Electrónico</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder="Ingrese su correo electrónico" required>
      </div>
      <!-- Asunto -->
      <div class="mb-6">
        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Asunto</label>
        <input type="text" id="subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder="Ingrese el asunto del mensaje" required>
      </div>
      <!-- Mensaje -->
      <div class="mb-6">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mensaje</label>
        <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-orange-500 focus:border-orange-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder="Ingresa tu mensaje aquí..."></textarea>
      </div>
      <!-- Botón de Envío -->
      <div class="flex justify-center"> <!-- Esta es la nueva línea que agrega la clase flex y justify-center -->
        <button type="submit" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 focus:outline-none dark:focus:ring-orange-800">Enviar</button>
      </div>
    </form>
  </div>


  <section class="bg-white dark:bg-gray-900 py-12 lg:py-20">
    <div style="width: 100%; padding: 0; margin: 0">
      <h2 class="text-2xl text-orange-500 font-bold mb-3 text-center" style="margin-bottom: 8px; text-transform: uppercase;">UBICACIÓN</h2>
      <hr class="border-t-2 border-orange-500 mx-auto w-1/4 mb-6"> <!-- Línea divisoria -->
      <h3 class="text-xl text-orange-500 font-semibold text-center" style="margin-bottom: 16px; text-transform: uppercase;">AQUÍ PUEDES ENCONTRARNOS</h3>
      <div style="width: 100%; height: 450px; padding: 0; margin: 0">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1975.018275464005!2d-79.01354317176228!3d-8.097755049805611!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad16223151f06f%3A0x10d8494abc81c524!2sAlbert%20Einstein%20266%2C%20Trujillo%2013006!5e0!3m2!1ses-419!2spe!4v1714962803722!5m2!1ses-419!2spe"
            title="Mapa de Google que muestra la ubicación de Albert Einstein 266, Trujillo 13006"
            width="100%" height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </section>
  
  
  